:root {
  // typography
  $color-text: $gray-10;
  $color-text-heading: $black;
  $color-text-subtle: $gray-6;
  $color-link: $color-primary;
  $color-link-visited: $color-primary-dark;
}

body {
  color: $color-text;
}

h1,
h2,
h3,
h4,
form legend {
  color: $color-text-heading;
}

a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }
}
