.cta-button {
  transition-duration: 0.4s;
  background-color: $gray-4;
  border: 2px solid $gray-10;
  color: black;
  padding: 1rem;
  border-radius: 1vh;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $gray-10;
  }
}
