.hero {
  width: 99vw;
  height: 50vh;
  background-image: url("src/assets/Antique Door.png");
  color: white;
  .text {
    max-width: 40vw;
    margin-left: 10vw;
    .text--xxxl {
      font-family: serif;
      color: white;
    }
    p {
      padding-bottom: 2rem;
    }
  }
}
