.hero {
  width: 99vw;
  height: 50vh;
  background-image: url("./assets/pexels-bidvine-1249610.jpg");
  background-size: cover;
  background-position: 50%;
  color: white;
  padding: 2rem;
  text-justify: distribute;
  .text {
    max-width: 25vw;
    margin-left: 10vw;
    .text--xxxl {
      font-family: serif;
      color: white;
    }
    p {
      padding-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    max-height: 40vh;
    .text {
      max-width: 75vw;
      font-size: $text-xs;
    }
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    .text {
      font-size: $text-xxs;
    }
  }
}
